@import "tailwindcss";

:root {
    --base-color: #1c1c1c;
    --base-variant: #1f1f1f;
    --base-variant2: #bbbbbb;
    --text-color: #fcfcfc;
    --text-variant: #1f1f1f;
    --text-button: #fcfcfc;
    --primary-color: #dddddd;
    --accent-color: #00ff6a;
    --accent-color-2: #2cbe69;
    --inactive-color: #838383;
    --border-color: #000000;
    --background-color: #111111;
    --blocker-color: #000000DD;
    --hover-text: #eeeeee;
    --shadow-style: 0px 0px 8px #ffffff40;
    --shadow-style-hover: 0px 0px 4px #ffffff60;
    --shadow-style-thumb: 0px 0px 4px #5f5f5fdd;
    --shadow-style-thumb-hover: 0px 0px 2px #5f5f5fdd;
  };

.lightmode {
  --base-color: #fafafa;
  --base-variant: #f1f1f1;
  --text-color: #111111;
  --text-variant: #fafafa;
  --text-button: #111111;
  --primary-color: #ececec;
  --accent-color: #00ff6a;
  --accent-color-2: #31dd79;
  --inactive-color: #838383;
  --border-color: #ffffff;
  --background-color: #fcfcfc;
  --blocker-color: #3d3d3d91;
  --hover-text: #eeeeee;
  --shadow-style: 0px 0px 8px #000000DD;
  --shadow-style-hover: 0px 0px 4px #000000f5;
  --shadow-style-thumb: 0px 0px 2px #c5c5c5dd;
  --shadow-style-thumb-hover: 0px 0px 4px #c5c5c581;
};

.darkmode {
  --base-color: #1c1c1c;
  --base-variant: #1f1f1f;
  --base-variant2: #bbbbbb;
  --text-color: #fcfcfc;
  --text-variant: #e0e0e0;
  --text-button: #1f1f1f;
  --primary-color: #dddddd;
  --accent-color: #00ff6a;
  --accent-color-2: #2cbe69;
  --inactive-color: #838383;
  --border-color: #000000;
  --background-color: #111111;
  --blocker-color: #000000DD;
  --hover-text: #eeeeee;
  --shadow-style: 0px 0px 8px #ffffff40;
  --shadow-style-hover: 0px 0px 4px #ffffff60;
  --shadow-style-thumb: 0px 0px 4px #5f5f5fdd;
  --shadow-style-thumb-hover: 0px 0px 2px #5f5f5fdd;
};

main, body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior-x: none;
  background: var(--background-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
};

.popupTitleText {
  font-size:24px;
  font-weight: 700;
  align-self: center;
  text-align: center;
  margin-bottom: 1em;

  @media screen and (max-width:560px) {
    font-size:18px;
    margin-bottom: .5em;
  };
}

.popupBackgroundDiv {
  width: fit-content;
  height: fit-content;
  color: var(--text-color);
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 3em;
  padding-bottom:3em;
  border-radius: 2em;
  align-self: center;
  place-self: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  box-shadow: var(--shadow-style);

  @media screen and (max-width:560px) {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom:2em;
    gap: .5em;
  };
}

.popupTextContainer {
  display: flex;
  flex-direction: column;
  gap: .25em;
}

.fullScreenBlockingDiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blocker-color);
  z-index: 10;
  display: flex;
  place-items: center;
  place-content: center;
}

.movieInfoTextDiv {
  display: flex;
  flex-direction: column;
  background-color: var(--base-color);
  margin-top: 2em;
  padding-top: .75em;
  padding-bottom: .75em;
  padding-right: 1.25em;
  padding-left: 1.25em;
  border-radius: 1em;
  box-shadow: var(--shadow-style);
  cursor: pointer;

  @media screen and (max-width:560px) {
    margin-top: 1em;
    place-items: center;
    place-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: .5em;
  };
}

.movieInfoTextDiv:hover {
  box-shadow: var(--shadow-style-hover);
}

.movieInfoLongTextDiv {
  display: flex;
  flex-direction: column;
  background-color: var(--base-color);
  margin-top: 2em;
  padding-top: .75em;
  padding-bottom: .75em;
  padding-right: 1.25em;
  padding-left: 1.25em;
  border-radius: 1em;
  box-shadow: var(--shadow-style);
  cursor: pointer;

  @media screen and (max-width:560px) {
    margin-top: 1em;
    gap: .5em;
  };
}

.movieInfoLongTextDiv:hover {
  box-shadow: var(--shadow-style-hover);
}

.movieInfoPrimaryText {
  font-size: 16px;
  margin-left: 1em;
  text-align:left;
  width: auto;
  list-style-type: none;

  @media screen and (max-width:560px) {
    font-size:12px;
    text-align: center;
    margin-left:0;
    align-self: center;
  };

  @media screen and (min-width:1280px) {
    font-size:18px;
  };
};

.movieInfoSecondaryText {
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  font-weight: 800;
  display: flex;
  margin-bottom: .25em;

  @media screen and (max-width:560px) {
    font-size:12px;
    align-self: center;
    place-self: center;
    margin-top:0;
    margin-bottom:0em;
  };

  @media screen and (min-width:1280px) {
    font-size:16px;
  };
};

.movieActorBulletPoints {
  display: flex;
  flex-direction: column;
  align-self: left;

  @media screen and (max-width:560px) {
    flex-direction: row;
    align-self: center;
    place-self: center;
    gap: .5em;
  };
};

.mainMovieInfoDiv {
  display: flex;
  flex-direction: row;
  gap: 36px;
  width:100%;
  height:auto;
  align-self: center;

  @media screen and (max-width:560px) {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1em;
  };
};

.moviePosterImage {
  width: 480px;
  object-fit: cover;
  border-radius: 24px;
  box-shadow: var(--shadow-style);
  cursor: pointer;

  @media screen and (max-width:560px) {
    width: 360px;
  };

  @media screen and (min-width:560px) and (max-width:768px) {
    width: 320px;
  };

  @media screen and (min-width:1280px) {
    width: 540px;
  };
};

.moviePosterImage:hover {
  box-shadow: var(--shadow-style-hover);
};

.movieInfoDivCol2 {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: .5em;
  width: 360px;

  @media screen and (max-width:560px) {
    gap: 1em;
    width: 320px;
    place-items: center;
    margin-top: .5em;
  };

  @media screen and (min-width:1280px) {
    width: 420px;
  };
};

.galleryIconSelected {
  scale: 125%;
  width: 16px;
  height: 16px;
  background: var(--accent-color);
  border-radius: 100%;

  @media screen and (max-width:560px) {
    width: 12px;
    height: 12px;
  };
};

.galleryIconInactive {
  width: 14px;
  height: 14px;
  background: var(--inactive-color);
  border-radius: 100%;

  @media screen and (max-width:560px) {
    width: 10px;
    height: 10px;
  };
};

.galleryIconDefault {
  width: 16px;
  height: 16px;
  background: var(--primary-color);
  border-radius: 100%;

  @media screen and (max-width:560px) {
    width: 12px;
    height: 12px;
  };
};

.galleryIconsDiv {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  place-self: center;
  gap: 1.25em;
  z-index: 5;
  margin-top: .5em;
};

.submitButton {
  width: fit-content;
  height: fit-content;
  padding-left: 2em;
  padding-right:2em;
  padding-top: 1em;
  padding-bottom:1em;
  border-radius: 1em;
  color: var(--text-button);
  background-color: var(--primary-color);
  place-content: center;
  place-self: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  opacity: .9;

  @media screen and (max-width:560px) {
    font-size:12px;
  };

  @media screen and (min-width:1280px) {
    font-size:16px;
  };
};

.submitButton:hover {
  transform: scale(.94);
  font-weight: 700;
  opacity: 1;
}

.submitButton:active {
  transform: scale(.90);
  font-weight: 700;
}

.movieTitleText {
  font-weight: 800;
  font-size: 1.25em;
  align-self: center;
  place-self: center;
  text-align: center;

  @media screen and (max-width:560px) {
    font-size: 1.5em;
  };
};

.divCenterHorizontalText {
  display: flex;
  flex-direction: row;
  gap: .25em;
  width: auto;
  place-content: center;
  place-items: center;
}

.scoreTextPrimary {
  font-size: 18px;
  font-weight: 700;

  @media screen and (max-width:560px) {
    font-size:12px;
  }
}

.scoreTextSecondary {
  font-size: 14px;
  font-weight: 400;

  @media screen and (max-width:560px) {
    font-size:10px;
  }
}

.divCenterHorizontalTextSmall {
  display: flex;
  flex-direction: row;
  gap: .125em;
  width: auto;
  height: fit-content;
  place-content: center;
  place-items: center;
}

.scoreTextPrimarySmall {
  font-size: 14px;
  font-weight: 700;

  @media screen and (max-width:560px) {
    font-size:12px;
  }
}

.scoreTextSecondarySmall {
  font-size: 12px;
  font-weight: 400;

  @media screen and (max-width:560px) {
    font-size:8px;
  }
}

.mainQuestionDiv {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  line-height: 1.75em;
  align-items: center;
  align-self:center;
  place-content: center;
  place-items:center;
  margin-bottom: 1em;

  @media screen and (max-width:560px) {
    font-size:14px;
    flex-direction: column;
    gap: 0em;
  };

  @media screen and (min-width:1280px) {
    font-size:20px;
  };
};

.mainContainer {
  width: fit-content;
  height: fit-content;
  max-width: 840px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--background-color);

  @media screen and (max-width:560px) {
    font-size:14px;
    gap: 0em;
    max-width: 360px;
  };

  @media screen and (min-width:1280px) {
    font-size:20px;
    max-width: 960px;
  };
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.controllerContentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  gap: 1em;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  gap: .25em;
  margin-bottom: .25em;
}

.sliderLabelText {
  font-size: 24px;
  font-weight: 600;
  align-self: center;
  margin-top: 1em;

  @media screen and (max-width:560px) {
    font-size:16px;
    margin-top: 1.5em;
  };

  @media screen and (min-width:1280px) {
    font-size: 24px;
    margin-top:1em;
  };
};

.ratingSliderStyle {
  width: 100%;
  height: 16px;
  background-color: var(--primary-color);
  cursor: pointer;
  appearance: none;
  margin-top: 4em;
  border-radius: 1em;

  @media screen and (max-width:560px) {
    margin-top: 3em;
    height: .75em;
  };
};

.ratingSliderStyle::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 32px;
  background: var(--accent-color-2);
  cursor: pointer;
  border-radius: 1em;
  box-shadow: var(--shadow-style-thumb);
}

.ratingSliderStyle::-webkit-slider-thumb:hover {
  width: 20px;
  height: 54px;
  background: var(--accent-color);
  box-shadow: var(--shadow-style-thumb-hover);
}

.ratingSliderStyle::-webkit-slider-thumb:active {
  width: 24px;
  height: 64px;
  background: var(--accent-color);
  box-shadow: var(--shadow-style-thumb-hover);
}

.ratingSliderStyle::-moz-range-thumb {
  width: 16px;
  height: 48px;
  background: var(--accent-color-2);
  border: none;
  cursor: pointer;
  border-radius: 1em;
  box-shadow: var(--shadow-style-thumb);
}

.ratingSliderStyle::-moz-range-thumb:hover {
  width: 20px;
  height: 54px;
  background: var(--accent-color);
  box-shadow: var(--shadow-style-thumb-hover);
}

.ratingSliderStyle::-moz-range-thumb:active {
  width: 24px;
  height: 64px;
  background: var(--accent-color);
  box-shadow: var(--shadow-style-thumb-hover);
}

.mainPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  place-items: center;
  justify-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: var(--background-color);
}

.switchThemeButton {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 2em;
  margin-top: 4em;
  font-size: 12px;
  font-weight: 700;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: var(--base-variant);
  border-radius: 2em;
  scale: 1;
  z-index: 0;
  cursor: pointer;

  @media screen and (max-width:560px) {
    margin-top: 2em;
    font-size:10px;
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: .5em;
    padding-right: .5em;
  };
}

.switchThemeButton:hover {
  scale: .9;
}

.switchThemeButton:active {
  scale: .85;
}


.siteFooterDiv {
  width: 100%;
  height: fit-content;
  margin-top: 6em;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-size: 10px;
  color: var(--inactive-color);
  cursor: pointer;

  @media screen and (max-width:560px) {
    font-size:8px;
    margin-top: 4em;
  };
}

.shareScoreButtonDiv {
  width: fit-content;
  height: fit-content;
  padding-left: 1.5em;
  padding-right:1.5em;
  padding-top: .75em;
  padding-bottom:.75em;
  border-radius: 1em;
  color: var(--text-button);
  background-color: var(--accent-color-2);
  place-content: center;
  place-self: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  opacity: .9;
  margin-top: 1em;

  @media screen and (max-width:560px) {
    font-size:12px;
  };

  @media screen and (min-width:1280px) {
    font-size:16px;
  };
};

.shareScoreButtonDiv:hover {
  transform: scale(.94);
  font-weight: 700;
  opacity: 1;
}

.shareScoreButtonDiv:active {
  transform: scale(.90);
  font-weight: 700;
}

.smallMoviePosterImage {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: var(--shadow-style);
  place-self: center;
  justify-self: center;
  margin-bottom: .5em;

  @media screen and (max-width:560px) {
    width: 60px;
    height: 90px;
  };
};

.scoreScreenMoviePosterAndRatingDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.scoreScreenMoviePostersAndRatingsContainer {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;

  @media screen and (max-width:560px) {
    gap: 1em;
  };
};