@import "tailwindcss";

@media (prefers-color-scheme: light){
  :root {
    --background: #ffffff;
    --foreground: #171717;
  };
};

:root {
  --background: #0e0e0e;
  --foreground: #ededed;
};

main, body, html {
  margin: 0;
  padding: 0;
  overscroll-behavior-x: none;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
};

.popupTitleText {
  font-size:24px;
  font-weight: 700;
}

.popupBackgroundDiv {
  width: fit-content;
  height: fit-content;
  color: white;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 3em;
  padding-bottom:3em;
  border-radius: 2em;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: .25em;
  box-shadow: 2px 2px 12px #000000DD;
}

.fullScreenBlockingDiv {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000DD;
  z-index: 10;
  display: flex;
  place-items: center;
  place-content: center;
}

.movieInfoTextDiv {
  display: flex;
  flex-direction: column;

  @media screen and (max-width:560px) {
    flex-direction: row;
    place-items: center;
    place-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: .5em;
  };
}

.movieInfoLongTextDiv {
  display: flex;
  flex-direction: column;
}

.movieInfoPrimaryText {
  font-size: 16px;
  margin-left: 1em;
  text-align:left;
  width: auto;
  list-style-type: none;

  @media screen and (max-width:560px) {
    font-size:12px;
    text-align: center;
    margin-left:0;
    align-self: center;
  };

  @media screen and (min-width:1280px) {
    font-size:18px;
  };
};

.movieInfoSecondaryText {
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  font-weight: 800;
  margin-top: 1em;
  display: flex;

  @media screen and (max-width:560px) {
    font-size:12px;
    align-self: center;
    place-self: center;
    margin-top:0;
  };

  @media screen and (min-width:1280px) {
    font-size:16px;
  };
};

.movieActorBulletPoints {
  display: flex;
  flex-direction: column;
  align-self: left;

  @media screen and (max-width:560px) {
    flex-direction: row;
    align-self: center;
    place-self: center;
    text-wrap-mode: nowrap;
    gap: .5em;
  };
};

.mainMovieInfoDiv {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width:100%;
  height:auto;
  align-self: center;

  @media screen and (max-width:560px) {
    display: flex;
    flex-direction: column;
    place-items: center;
  };
};

.moviePosterImage {
  width: 540px;
  object-fit: cover;
  border-radius: 24px;

  @media screen and (max-width:560px) {
    width: 360px;
  };

  @media screen and (min-width:1280px) {
    width: 540px;
  };
};

.movieInfoDivCol2 {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: .5em;
  width: 360px;

  @media screen and (max-width:560px) {
    gap: 1em;
    width: 320px;
    place-items: center;
    margin-top: .5em;
  };

  @media screen and (min-width:1280px) {
    width: 420px;
  };
};

.galleryIconSelected {
  scale: 125%;
  width: 16px;
  height: 16px;
  background: #00ff73;
  border-radius: 100%;

  @media screen and (max-width:560px) {
    width: 12px;
    height: 12px;
  };
};

.galleryIconInactive {
  width: 16px;
  height: 16px;
  background: #838383;
  border-radius: 100%;

  @media screen and (max-width:560px) {
    width: 12px;
    height: 12px;
  };
};

.galleryIconDefault {
  width: 16px;
  height: 16px;
  background: #ededed;
  border-radius: 100%;

  @media screen and (max-width:560px) {
    width: 12px;
    height: 12px;
  };
};

.galleryIconsDiv {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  place-self: center;
  gap: 1em;
  z-index: 5;
};

.submitButton {
  width: fit-content;
  height: fit-content;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 2em;
  padding-right:2em;
  padding-top: 1em;
  padding-bottom:1em;
  border-radius: 1em;
  color: black;
  background-color: #dfdfdf;
  place-content: center;
  place-self: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;

  @media screen and (max-width:560px) {
    font-size:12px;
  };

  @media screen and (min-width:1280px) {
    font-size:16px;
  };
};

.submitButton:hover {
  transform: scale(.94);
  font-weight: 700;
  background-color: #FAFAFA;
}

.submitButton:active {
  transform: scale(.90);
  font-weight: 700;
}

.movieTitleText {
  font-weight: 800;
  font-size: 1.25em;
  align-self: center;
  place-self: center;
  text-align: center;

  @media screen and (max-width:560px) {
    font-size: 1.5em;
  };
};

.divCenterHorizontalText {
  display: flex;
  flex-direction: row;
  gap: .25em;
  width: auto;
  place-content: center;
  place-items: center;
}

.scoreTextPrimary {
  font-size: 18px;
  font-weight: 700;
}

.scoreTextSecondary {
  font-size: 14px;
  font-weight: 400;
}

.mainQuestionDiv {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  line-height: 1.75em;
  align-items: center;
  align-self:center;
  place-content: center;
  place-items:center;
  margin-bottom: 1em;

  @media screen and (max-width:560px) {
    font-size:14px;
    flex-direction: column;
    gap: 0em;
  };

  @media screen and (min-width:1280px) {
    font-size:20px;
  };
};

.mainContainer {
  width: fit-content;
  height: fit-content;
}

.sliderLabelText {
  font-size: 24px;
  font-weight: 600;
  align-self: center;
  margin-top: 1em;

  @media screen and (max-width:560px) {
    font-size:16px;
    margin-top: 1.5em;
  };

  @media screen and (min-width:1280px) {
    font-size: 24px;
    margin-top:1em;
  };
};

.ratingSliderStyle {
  width: 100%;
  height: 16px;
  background-color: white;
  cursor: pointer;
  appearance: none;
  margin-top: 4em;
  border-radius: 1em;

  @media screen and (max-width:560px) {
    margin-top: 2em;
    height: .75em;
  };
};

.ratingSliderStyle::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 32px;
  background: #00db63;
  cursor: pointer;
  border-radius: 1em;
}

.ratingSliderStyle::-webkit-slider-thumb:hover {
  width: 20px;
  height: 54px;
  background: #00ff73;
}

.ratingSliderStyle::-webkit-slider-thumb:active {
  width: 24px;
  height: 64px;
  background: #00ff73;
}

.ratingSliderStyle::-moz-range-thumb {
  width: 16px;
  height: 48px;
  background: #00db63;
  border: none;
  cursor: pointer;
  border-radius: 1em;
  box-shadow: 0px 0px 8px #00000040;
}

.ratingSliderStyle::-moz-range-thumb:hover {
  width: 20px;
  height: 54px;
  background: #00ff73;
}

.ratingSliderStyle::-moz-range-thumb:active {
  width: 24px;
  height: 64px;
  background: #00ff73;
}